<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">

    <%= form_for :user, url: users_path do |f| %>
      <div class="row column">
        <h3 class="text-center">Sign Up</h3>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :email %>
        <%= f.text_field :email %>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <%= f.password_field :password_confirmation %>
        <%= f.submit "Submit", class:"button expanded small submit" %>
      </div>
    <% end %>

  </div>
</div>