<%= form_for @creature do |f| %>
	<% if @creature.errors.any? %>
		<h2>Errors:</h2>
		<ul>
			<% @creature.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	<% end %>
	<%= f.text_field :name %>
	<%= f.text_area :description %>
	<%= f.submit "Save Creature" %>
<% end %>