<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<h1 class="text-center">Edit Existing Creature</h1>
			<hr>
			<div class="row">
				<%= link_to "Back to List", creatures_path, method: :get, class: "pull-right", style: "margin-bottom: 10px" %>
			</div>
			<div class="row each-creature">
				<%= form_for @creature, html: { multipart: true } do |f| %>
					<% if @creature.errors.any? %>
						<h3>Errors:</h3>
						<ul>
							<% @creature.errors.full_messages.each do |message| %>
								<li class="error"><%= message %></li>
							<% end %>
						</ul>
					<% end %>
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<%= f.label :image %>
							<%= f.file_field :image %>
						</div>
						<div class="form-group">
							<%= f.text_field :name, class: "form-control", placeholder: "Name" %>
						</div>
						<div class="form-group">
							<%= f.text_area :description, class: "form-control", placeholder: "Description", rows: 5%>
						</div>
						<div class="form-group">
							<%= f.submit "Edit", class:"btn btn-info" %>
						</div>
					</form>
				<% end %>
			</div>
		</div>
	</div>
</div>