<div class="callout large primary">
  <div class="column text-center">
    <h1>Scary Creatures</h1>
    <h2 class="subheader">So scary</h2>
  </div>
  <% @creatures.each do |creature| %>
    <div class=" row medium-8 large-7">
      <div class="blog-post">
        <h3><%= link_to creature.name, creature_path(creature) %></h3>
        <%= image_tag creature.avatar_url(:thumb).to_s %>
        <p><%= creature.description %> 
        <%= link_to 'Edit', edit_creature_path(creature) %>
        <%= link_to 'Delete', creature_path(creature), method: :delete %>
        </p>
      </div>
    </div>
  <% end %>
</div>