<h1>New Creatures</h1>
<br>
<%= form_for :creature, url: "/creatures", method: "post" do |f| %>
  <%= f.text_field :name %>
  <%= f.text_area :description %>
  <%= f.submit "Save Creature" %>
<% end %>

<%= link_to 'Back to Main Page', {:action => 'index'} %>